services:
  postgres:
    image: postgis/postgis:16-3.5
    container_name: zerobin_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user1234
      POSTGRES_DB: zerobin_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
