services:
  postgres:
    image: postgis/postgis:16-3.5
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user1234
      POSTGRES_DB: zerobin_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    image: abrareyasir/solvio:5
    container_name: zerobin_app
    ports:
      - "8000:8000"
    environment:
      HOST: 0.0.0.0
      PORT: 8000
      LOG_LEVEL: info
      UVICORN_WORKERS: 1
      APP_MODULE: main:app
    depends_on:
      - postgres
    volumes:
      - .:/app

volumes:
  pgdata:
